/*Stylesheet for FESC redesign.  Version 1.0 Date 4/14/18*/
* {
  font-size: 1rem;
}

img {
  max-width: 100%;
}

body {
/*  TO DO: BODY STYLING */
}

.main-wrapper {
/*  TO DO: MAIN WRAPPER STYLING*/
  display: flex;
  flex-flow: row wrap;
  
}

.top-info{
/*  TO DO: TOP INFO STYLING*/
    
  padding: 1% 0 0 2%;
}

#logo {
  max-width: 50%;
}

#top-nav {
/*  TO DO: TOP NAV STYLING */
  min-width: 100%;
  min-height: 50px;
  background-color: #ECDC00;
  margin-top: 1%;
}

#top-nav ul {
  display: flex;
  flex-flow: row-reverse;
}

#top-nav a{
  text-decoration: none;
  font-family: cursive;
}

#top-nav li{
  display: inline;
  height: 10px;
  text-decoration: none;
  padding: 0 2% 3% 2%;
  font-size: 1.5rem;
}



footer {
/*  TO DO: FOOTER STYLING */
}