/********** UNIVERSAL STYLES ************/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1rem; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

img {
  max-width: 100%; }

body {
  background-color: #373737; }

.main-wrapper {
  background-color: white;
  padding-top: 1%; }

em {
  font-size: 2rem;
  font-weight: 900; }

/********* LAYOUT STYLING ***************/
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

#grinter-hall {
  max-width: 75%; }

#balaban {
  min-width: 40%; }

/********* HEADER STYLING ***************/
.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .banner #logo {
    min-width: 23%;
    margin: 0 1%; }
  .banner #search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 50%; }
    .banner #search input {
      margin-top: 10%;
      height: 30px;
      width: 500px; }
    .banner #search button {
      margin-top: 10%;
      height: 30px;
      width: 10; }
  .banner #social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-width: 15%;
    margin-right: 1%;
    padding-top: 5%; }

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ec6600;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  margin-top: 2%;
  padding: 0; }

#top-nav {
  width: 45%; }
  #top-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    list-style: none;
    margin: 0; }
  #top-nav li {
    margin: 0;
    text-align: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100px;
    height: 75px;
    padding-top: 25.5px; }
  #top-nav a {
    display: block;
    text-decoration: none;
    color: white;
    font-family: Concert One, cursive, cursive;
    font-size: 1.5rem; }
  #top-nav li:hover {
    background-color: black; }

#tag-line {
  color: white;
  font-family: Courgette, cursive;
  text-align: left;
  padding: 0 3%;
  width: 55%; }

/********* DROPDOWN STYLING ***************/
.dropdown-content {
  display: none;
  text-align: left;
  position: absolute;
  width: 100%;
  margin-top: 25px;
  background-color: white;
  color: #ec6600;
  z-index: 1; }
  .dropdown-content a {
    background-color: black;
    text-decoration: none;
    padding: 12px 16px;
    display: block;
    font-size: .5rem;
    text-align: left; }

.dropdown:hover .dropdown-content {
  display: block; }

/********* MAIN CONTENT STYLING *********/
span {
  font-family: cursive;
  color: #ec6600; }

.main-content {
  padding: 1%; }
  .main-content figure {
    padding: 0;
    float: left; }
  .main-content h1 {
    text-align: center; }
  .main-content h2 {
    margin-top: 1%;
    padding-top: 2% 0;
    font-size: 2.25rem; }
  .main-content article {
    font-family: "Work Sans", sans-serif;
    font-size: 1.25rem; }
  .main-content section {
    font-family: "Work Sans", sans-serif;
    font-size: 1.25rem; }
  .main-content ol {
    clear: both; }

#projects {
  width: 150%; }

#proj-spot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 75px;
  margin: 5% 5% 0 5%;
  background-color: #ec6600;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

#member-spot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 75px;
  margin: 1% 5% 0 5%;
  background-color: #ec6600;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

/********* MODULE CONTENT STYLING *******/
.module-chart {
  width: 100%;
  height: auto;
  background-color: #ec6600;
  padding: 1% 0 2% 2%; }
  .module-chart h1 {
    color: white; }

#curve_chart {
  position: relative;
  width: 800px;
  height: 600px; }

.module-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 1% 5%;
  background-color: #f0f0f0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center; }
  .module-row .module {
    width: 30%;
    background-color: #d7d7d7;
    border-radius: 5%;
    padding: 1% 2%;
    font-size: 1.15rem;
    -webkit-box-shadow: 5px 5px;
            box-shadow: 5px 5px; }
  .module-row .project-module {
    width: 30%;
    background-color: #d7d7d7;
    border-radius: 5%;
    padding: 1% 2%;
    font-size: 1.15rem;
    -webkit-box-shadow: 5px 5px;
            box-shadow: 5px 5px;
    margin-top: 1%; }
    .module-row .project-module header {
      font-size: 2rem; }
    .module-row .project-module span {
      color: #ec6600;
      font-family: 'Lora', serif; }
    .module-row .project-module h2 {
      font-size: 1.5rem; }
  .module-row h1 {
    font-family: Oxygen, sans-serif; }

#partUniv {
  background-color: #f0f0f0;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  #partUniv ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    width: 1500px;
    -ms-flex-line-pack: distribute;
        align-content: space-around; }
  #partUniv li {
    display: inline;
    width: 5%;
    margin: 0 2% 0 2%;
    list-style: none; }
  #partUniv img {
    max-width: 4%; }

/********* FOOTER STYLING ***************/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background-color: #ec6600;
  color: white; }
  footer section {
    width: 33%;
    padding: 1% 5% 1% 5%;
    text-align: center; }
  footer #social-links-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-width: 15%;
    margin-right: 1%;
    padding-top: 5%; }

/********* MEDIA QUERIES ***************/
@media screen and (max-width: 980px) {
  .header-nav {
    margin: 0;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center; }

  #tag-line {
    width: 100%;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0; }

  #top-nav {
    width: 100%; }

  #top-nav ul {
    width: 100%;
    margin: 0;
    padding: 0; }

  #top-nav li {
    width: 100%;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2%; }

  #top-nav a {
    font-size: 2rem;
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding: 0; }

  #hide-me {
    display: none; }

  ol {
    display: none; }

  p {
    margin: 0 2%; }

  #social-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .module {
    min-width: 100%;
    border-radius: 0;
    margin-top: 1%; }

  .project-module {
    min-width: 100%;
    border-radius: 0;
    margin-top: 1%; }

  #partUniv li {
    padding-right: 6%; }
    #partUniv li img {
      max-width: 30%; }

  #norton {
    display: none; }

  #balaban {
    display: none; }

  footer section {
    width: 100%;
    border: none; }

  .dropdown:hover .dropdown-content {
    display: none; } }

/*# sourceMappingURL=fesc-styles.css.map */