// SCSS style sheet for FESC project

//SCSS color variables
$banner-color: rgb(236,102,0);
$border-color: rgb(0,236,220);

//Font color variable
$nav-color: rgb(255,255,255);
$nav-hover-color: rgb(0,0,0);

//Font Types
$nav-link-font: Concert One, cursive;


/********** UNIVERSAL STYLES ************/

html {
  box-sizing: border-box;
  font-size: 1rem;  
}
*, *:before, *:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

body {
  
}
/********* LAYOUT STYLING ***************/


/********* HEADER STYLING ***************/

.header {
  display: flex;
  background-color: $banner-color;
  flex-flow: row-reverse nowrap;
  align-content: flex-end;
  margin-top: 1%;
}

#logo {
  
  
}

#top-nav {
  
  min-width: 60%;
  
  ul {
    list-style: none;
  }
  
  li {
    display: inline-block;
  }
  
  a { 
    display: block;
    text-decoration: none;
    color: $nav-color;
  }
}

#tag-line {
  
  color: $nav-color;
  font-family: Courgette, cursive;
}

/********* MAIN CONTENT STYLING *********/


/********* FOOTER STYLING ***************/